In [4]:
import os
import requests
import gzip
import shutil
import sqlite3
import pandas as pd

In [1]:


# URL to download the datasets
url = "https://datasets.imdbws.com/"

# List of files to download
files = [
    "title.akas.tsv.gz",
    "title.basics.tsv.gz",
    "title.crew.tsv.gz",
    "title.episode.tsv.gz",
    "title.principals.tsv.gz",
    "title.ratings.tsv.gz",
    "name.basics.tsv.gz"
]

# Directory to save files
directory = "imdb_cache"
if not os.path.exists(directory):
    os.makedirs(directory)

# Function to download and extract a file
def download_extract_file(file_name):
    response = requests.get(url + file_name, stream=True)
    with open(os.path.join(directory, file_name), 'wb') as file:
        for chunk in response.iter_content(chunk_size=1024):
            if chunk:
                file.write(chunk)
    with gzip.open(os.path.join(directory, file_name), 'rb') as f_in:
        with open(os.path.join(directory, file_name[:-3]), 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    os.remove(os.path.join(directory, file_name))  # remove the gzipped file

# Download and extract all files
for file in files:
    print(f"Downloading and extracting {file}...")
    download_extract_file(file)

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# Read each TSV file into a pandas DataFrame and write to the database
for file in files:
    print(f"Loading {file} into database...")
    df = pd.read_csv(os.path.join(directory, file[:-3]), delimiter='\t', low_memory=False)
    # Replace '.' with '_' in table names and remove '.tsv' from the end
    table_name = file.replace('.', '_')[:-7]
    df.to_sql(table_name, conn, if_exists='replace')

# Close the connection
conn.close()

Downloading and extracting title.akas.tsv.gz...
Downloading and extracting title.basics.tsv.gz...
Downloading and extracting title.crew.tsv.gz...
Downloading and extracting title.episode.tsv.gz...
Downloading and extracting title.principals.tsv.gz...
Downloading and extracting title.ratings.tsv.gz...
Downloading and extracting name.basics.tsv.gz...
Loading title.akas.tsv.gz into database...
Loading title.basics.tsv.gz into database...
Loading title.crew.tsv.gz into database...
Loading title.episode.tsv.gz into database...
Loading title.principals.tsv.gz into database...
Loading title.ratings.tsv.gz into database...
Loading name.basics.tsv.gz into database...

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# Create a cursor
cur = conn.cursor()

# Execute a query to get all table names
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all results
tables = cur.fetchall()

# Print each table name
for table in tables:
    print(table[0])

# Close the connection
conn.close()

title_akas
title_basics
title_crew
title_episode
title_principals
title_ratings
name_basics

In [5]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# List of tables in the database
tables = [
    "title_akas",
    "title_basics",
    "title_crew",
    "title_episode",
    "title_principals",
    "title_ratings",
    "name_basics"
]

# Query and print the first few rows of each table
for table in tables:
    print(f"Showing first few rows of table {table}:")
    df = pd.read_sql_query(f"SELECT * from {table} LIMIT 5", conn)
    print(df)
    print("\n")

# Close the connection
conn.close()

Showing first few rows of table title_akas:
   index    titleId  ordering                      title region language  \
0      0  tt0000001         1                 Карменсіта     UA       \N
1      1  tt0000001         2                 Carmencita     DE       \N
2      2  tt0000001         3  Carmencita - spanyol tánc     HU       \N
3      3  tt0000001         4                 Καρμενσίτα     GR       \N
4      4  tt0000001         5                 Карменсита     RU       \N

         types     attributes isOriginalTitle
0  imdbDisplay             \N               0
1           \N  literal title               0
2  imdbDisplay             \N               0
3  imdbDisplay             \N               0
4  imdbDisplay             \N               0


Showing first few rows of table title_basics:
   index     tconst titleType            primaryTitle           originalTitle  \
0      0  tt0000001     short              Carmencita              Carmencita
1      1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2      2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3      3  tt0000004     short             Un bon bock             Un bon bock
4      4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short


Showing first few rows of table title_crew:
   index     tconst  directors writers
0      0  tt0000001  nm0005690      \N
1      1  tt0000002  nm0721526      \N
2      2  tt0000003  nm0721526      \N
3      3  tt0000004  nm0721526      \N
4      4  tt0000005  nm0005690      \N


Showing first few rows of table title_episode:
   index     tconst parentTconst seasonNumber episodeNumber
0      0  tt0041951    tt0041038            1             9
1      1  tt0042816    tt0989125            1            17
2      2  tt0042889    tt0989125           \N            \N
3      3  tt0043426    tt0040051            3            42
4      4  tt0043631    tt0989125            2            16


Showing first few rows of table title_principals:
   index     tconst  ordering     nconst         category  \
0      0  tt0000001         1  nm1588970             self
1      1  tt0000001         2  nm0005690         director
2      2  tt0000001         3  nm0374658  cinematographer
3      3  tt0000002         1  nm0721526         director
4      4  tt0000002         2  nm1335271         composer

                       job characters
0                       \N   ["Self"]
1                       \N         \N
2  director of photography         \N
3                       \N         \N
4                       \N         \N


Showing first few rows of table title_ratings:
   index     tconst  averageRating  numVotes
0      0  tt0000001            5.7      1984
1      1  tt0000002            5.8       265
2      2  tt0000003            6.5      1841
3      3  tt0000004            5.5       178
4      4  tt0000005            6.2      2622


Showing first few rows of table name_basics:
   index     nconst      primaryName birthYear deathYear  \
0      0  nm0000001     Fred Astaire      1899      1987
1      1  nm0000002    Lauren Bacall      1924      2014
2      2  nm0000003  Brigitte Bardot      1934        \N
3      3  nm0000004     John Belushi      1949      1982
4      4  nm0000005   Ingmar Bergman      1918      2007

                     primaryProfession  \
0       soundtrack,actor,miscellaneous
1                   actress,soundtrack
2  actress,soundtrack,music_department
3              actor,soundtrack,writer
4                writer,director,actor

                            knownForTitles
0  tt0053137,tt0050419,tt0031983,tt0072308
1  tt0117057,tt0075213,tt0037382,tt0038355
2  tt0054452,tt0056404,tt0057345,tt0049189
3  tt0078723,tt0077975,tt0080455,tt0072562
4  tt0069467,tt0050986,tt0050976,tt0083922

In [6]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# List of tables in the database
tables = [
    "title_akas",
    "title_basics",
    "title_crew",
    "title_episode",
    "title_principals",
    "title_ratings",
    "name_basics"
]

# Create an empty dictionary to store all schemas
schemas = {}

# Query and store the schema of each table
for table in tables:
    df = pd.read_sql_query(f"PRAGMA table_info({table})", conn)
    schemas[table] = df

# Close the connection
conn.close()

# Now the 'schemas' dictionary contains the schema of each table as a DataFrame
for table, schema in schemas.items():
    print(f"Schema of {table}:")
    print(schema)
    print("\n")

Schema of title_akas:
   cid             name     type  notnull dflt_value  pk
0    0            index  INTEGER        0       None   0
1    1          titleId     TEXT        0       None   0
2    2         ordering  INTEGER        0       None   0
3    3            title     TEXT        0       None   0
4    4           region     TEXT        0       None   0
5    5         language     TEXT        0       None   0
6    6            types     TEXT        0       None   0
7    7       attributes     TEXT        0       None   0
8    8  isOriginalTitle     TEXT        0       None   0


Schema of title_basics:
   cid            name     type  notnull dflt_value  pk
0    0           index  INTEGER        0       None   0
1    1          tconst     TEXT        0       None   0
2    2       titleType     TEXT        0       None   0
3    3    primaryTitle     TEXT        0       None   0
4    4   originalTitle     TEXT        0       None   0
5    5         isAdult     TEXT        0       None   0
6    6       startYear     TEXT        0       None   0
7    7         endYear     TEXT        0       None   0
8    8  runtimeMinutes     TEXT        0       None   0
9    9          genres     TEXT        0       None   0


Schema of title_crew:
   cid       name     type  notnull dflt_value  pk
0    0      index  INTEGER        0       None   0
1    1     tconst     TEXT        0       None   0
2    2  directors     TEXT        0       None   0
3    3    writers     TEXT        0       None   0


Schema of title_episode:
   cid           name     type  notnull dflt_value  pk
0    0          index  INTEGER        0       None   0
1    1         tconst     TEXT        0       None   0
2    2   parentTconst     TEXT        0       None   0
3    3   seasonNumber     TEXT        0       None   0
4    4  episodeNumber     TEXT        0       None   0


Schema of title_principals:
   cid        name     type  notnull dflt_value  pk
0    0       index  INTEGER        0       None   0
1    1      tconst     TEXT        0       None   0
2    2    ordering  INTEGER        0       None   0
3    3      nconst     TEXT        0       None   0
4    4    category     TEXT        0       None   0
5    5         job     TEXT        0       None   0
6    6  characters     TEXT        0       None   0


Schema of title_ratings:
   cid           name     type  notnull dflt_value  pk
0    0          index  INTEGER        0       None   0
1    1         tconst     TEXT        0       None   0
2    2  averageRating     REAL        0       None   0
3    3       numVotes  INTEGER        0       None   0


Schema of name_basics:
   cid               name     type  notnull dflt_value  pk
0    0              index  INTEGER        0       None   0
1    1             nconst     TEXT        0       None   0
2    2        primaryName     TEXT        0       None   0
3    3          birthYear     TEXT        0       None   0
4    4          deathYear     TEXT        0       None   0
5    5  primaryProfession     TEXT        0       None   0
6    6     knownForTitles     TEXT        0       None   0

In [9]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# List of tables in the database
tables = [
    "name_basics"
]

# Query and print the first few rows of each table
for table in tables:
    print(f"Showing first few rows of table {table}:")
    df = pd.read_sql_query(f"SELECT * from {table} WHERE primaryName = 'Fred Astaire'", conn)
    print(df)
    print("\n")

# Close the connection
conn.close()

Showing first few rows of table name_basics:
     index      nconst   primaryName birthYear deathYear  \
0        0   nm0000001  Fred Astaire      1899      1987
1  3381711  nm12584561  Fred Astaire        \N        \N

                primaryProfession                           knownForTitles
0  soundtrack,actor,miscellaneous  tt0053137,tt0050419,tt0031983,tt0072308
1                            None                                       \N

In [10]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('imdb.db')

# List of tables in the database
tables = [
    "name_basics"
]

# Query and print the first few rows of each table
for table in tables:
    print(f"Showing first few rows of table {table}:")
    df = pd.read_sql_query(f"SELECT * from {table} WHERE nconst = 'nm0680983'", conn)
    print(df)
    print("\n")

# Close the connection
conn.close()

Showing first few rows of table name_basics:
    index     nconst  primaryName birthYear deathYear  \
0  642186  nm0680983  Elliot Page      1987        \N

           primaryProfession                           knownForTitles
0  actor,producer,soundtrack  tt1375666,tt1877832,tt0424136,tt0467406